* {
  box-sizing: border-box;
}
:root {
  --color-primario: #fff;
  --color-secundario: #dc3545;
  --color-lineas: #27261e;
  --color-primario-dark: #27261e;
  --color-lineas-dark: #fff;
  --color-victoria: #39ee33;
}
body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
svg.hangman {
  width: 18.75rem;
  height: 18.75rem;
}
svg > * {
  stroke: var(--color-secundario);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transition: 0.25s;
}
.contenedor-app {
  height: 100vh;
  background-color: var(--color-primario);
}
.contenedor-app.dark {
  background-color: var(--color-primario-dark);
}
.stage {
  visibility: hidden;
}
.stage.show {
  visibility: visible;
}
.casillas .casilla + .casilla,
.letras-usadas .letra-usada + .letra-usada {
  margin-left: 20px;
}
.letra-usada,
.casilla,
.final-juego {
  font-size: 30px;
}
.letra-usada {
  color: var(--color-lineas);
}
.casilla {
  border-bottom: 2px solid var(--color-lineas);
  min-width: 20px;
}

.casilla .letra {
  opacity: 0;
  transition: opacity 500ms;
  color: var(--color-lineas);
}
.casilla.show .letra {
  opacity: 1;
}
.contenedor-app.dark .casillas .casilla {
  border-bottom: 2px solid var(--color-lineas-dark);
}
.contenedor-app.dark .casillas .casilla .letra,
.contenedor-app.dark .letras-usadas .letra-usada {
  color: var(--color-lineas-dark);
}
.input-letra {
  outline: none;
  width: 60px;
  font-size: 18px;
}
.final-juego {
  font-weight: bold;
}
.final-juego.victoria {
  color: var(--color-victoria);
}
.final-juego.derrota {
  color: var(--color-secundario);
}
.boton-modo {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-lineas);
  width: 50px;
  height: 50px;
}
.boton-modo > .icono {
  font-size: 35px;
  color: var(--color-lineas);
}
.contenedor-app.dark .boton-modo {
  border: 2px solid var(--color-lineas-dark);
}
.contenedor-app.dark .boton-modo > .icono {
  color: var(--color-lineas-dark);
}
